body{
    background-image: url(/assets/background-img.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Centering everything vertically */
.website-container-parent{
    display: table;
    height: 90vh;
    width: 100%;
    text-align: center;
}

.website-container-child{
    display: table-cell;
    vertical-align: middle;
}

/* Styling the game container */
#gameContainer{
    text-align: center;
}

/* Styling the game board */
#gameBoard{
    border: 4px solid black;
    background-color: lightgray;
}

/* Changing the font for the score */
#scoreText{
    font-family: "Press Start 2P", cursive;
    font-size: 60px;
    margin-top: 20px;
}

/* Aligning the start/reset buttons and difficulty */
.buttons-container{
    width: max-content;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Styling the reset button */
#resetBtn, #startBtn{
    display: inline-block;
    font-family: "Press Start 2P", cursive;
    font-size: 16px;
    width: fit-content;
    height: 50px;
    border: 4px solid black;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    margin: 5px;
}

/* Styling the difficulty dropdown */
#difficulty{
    display: inline-block;
    font-family: "Press Start 2P";
    font-size: 16px;
    width: fit-content;
    height: 50px;
    border: 4px solid black;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    margin: 5px;
    text-align: center;
}

/* Styling the obstacle option appearance */
.obstacle-div{
    width: 100%;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#obstacleLabel{
    font-family: "Press Start 2P";
    font-size: 16px;
}