body{
    background-color: lightgreen;
}

/* Centering everything vertically */
.website-container-parent{
    display: table;
    height: 90vh;
    width: 100%;
    text-align: center;
}

.website-container-child{
    display: table-cell;
    vertical-align: middle;
}

/* Styling the game container */
#gameContainer{
    text-align: center;
}

/* Styling the game board */
#gameBoard{
    border: 3px solid black;
}

/* Changing the font for the score */
#scoreText{
    font-family: "Press Start 2P", cursive;
    font-size: 60px;
    margin-top: 20px;
}

/* Styling the reset button */
#resetBtn{
    font-family: "Press Start 2P", cursive;
    font-size: 20px;
    width: fit-content;
    height: 50px;
    border: 4px solid black;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    margin: 15px auto 0 auto;
}